body{
    margin: 0;
    padding: 40px;
    background: linear-gradient(to right, #FAF9EE,#B9375D);
}
.Student-heading{
    text-align: center;
    align-items: center;
    font-size: 45px;
    color: #093FB4;
    
}
.Student-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 160;
    width: 160;
    border: 10px;
    border-color: #347433;
    border-radius: 12px;
    box-shadow: 0px 12px 14px rgb(0,0, 0.5);


}
.Student-card{
   display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 900px;
    background-color: #fff;
    border:10px solid rgb(128, 0, 0);
    border-radius: 16px 10px 10px;
    align-items: center;
    padding: 20px;
     gap:30px;
    margin-left: auto;
    margin-right: auto;
}
.Student-card:hover{
    border: 2px solid #B9375D;
    background: radial-gradient(#FAF9EE,#B9375D);
    transform: scale(1.1);
    overscroll-behavior-x: 0px 12px 32px rgb(0,0,1.5);
}